{% extends 'relecture/base.html' %}

{% block content %}

<!--<div>-->
    <!--<h3>File Uploading Form</h3>-->

    <!--{% if documents %}-->
        <!--<ul>-->
            <!--{% for document in documents %}-->
            <!--<li><a href="{{ document.doc_file.path }}">{{document.doc_file.name}}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
        <!--{% else %}-->
            <!--<p>No documents.</p>-->
        <!--{% endif %}-->
<!--</div>-->

<div class="col-md-12 text-center file-upload-out">
    <div class="col-md-12 file-upload-in">
        <div class="col-md-12 text-center"><h2> UPLOAD <span style="color:red">RECORDING</span> FILE </h2> </div>
        <br>
        &nbsp;
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors}}</p>
        <div class="col-md-12 text-right">
            {{ form.doc_file.errors }}
            {{ form.doc_file }}
        </div>
        <br><br>
        <br>
        &nbsp;
        <div class="col-md-10 text-right">
        <button type="submit" class="btn btn-info text-right">NEXT</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}