{% extends 'relecture/base.html' %}

{% block content %}

<!--<div>-->
    <!--<h3>File Uploading Form</h3>-->

    <!--{% if documents %}-->
        <!--<ul>-->
            <!--{% for document in documents %}-->
            <!--<li><a href="{{ document.doc_file.path }}">{{document.doc_file.name}}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
        <!--{% else %}-->
            <!--<p>No documents.</p>-->
        <!--{% endif %}-->
<!--</div>-->

<div class="col-lg-12 text-center file-upload-out">
    <div class="col-lg-12 file-upload-in">
        <div class="col-lg-12 text-center"><h2> UPLOAD <span style="color:#5c9aa7">RECORDING</span> FILE </h2> </div>
        <br>
        &nbsp;
    <form action="" method="post" enctype="multipart/form-data">
        <br>
        {% csrf_token %}
        <p>{{ form.non_field_errors}}</p>
        <div class="col-lg-12">
            <div class="col-lg-4"></div>
            <div class="col-lg-8>">
                <div class="col-lg-2">{{ form.doc_file.errors }}
                {{ form.doc_file }}</div>
                <div class="col-lg-3"><button type="submit" class="btn btn-relecture ">NEXT</button></div>
            </div>

        </div>
        <br><br>
        <br><br><br>
        &nbsp;

    </form>
    </div>
</div>

{% endblock %}