body {
    background-color: #dddddd;
}

#hidden-input{
  display: none;
}

#script-box{
    height: 400px;
    overflow-y: scroll;
}

.panel-default > .panel-heading {
    color: #ffffff;
}

.view-button {
    margin-bottom: 20px;
}

.center-out{
  position:relative;
  height:90%;
  margin:auto;
}
.center-in {
position:absolute;
  height:30%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}

.file-upload-out{
  position:relative;
  height:40%;
  margin-top: 10%;
    margin-left: auto;
  margin-bottom:auto;
    margin-right: auto;
    background-color: #ffffff;
}
.file-upload-in {
position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}

.center-in button a {
    color: #ffffff;
}

.page-header {
    background-color: #5c9aa7;
    border-color: #5c9aa7;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.page-header p, .page-header p a, .page-header p a:visited, .page-header p a:active {
    color: #ffffff;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
}

.mid-menu, .mid-menu:hover, .mid-menu:visited {
    color: #FCA205;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}