body {
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
}

.k-clear{
    font-size: 17px;
}

.panel-heading{
    font-size: 17px;
}

.panel-body{
    font-size: 17px;
}

.button-label {
  display: inline-block;
  padding: 0em 1em;
  margin: 0em 0em 1em 0em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}

.button-label h1 {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

.keyradio:checked + .button-label {
  background: #5c9aa7;
  color: #efefef;
}
.keyradio:checked + .button-label:hover {
  background: #5c9aa7;
  color: #e2e2e2;
}


.hidden {
  display: none;
}


.progress {
    height: 30px;
    width: 85%;
    text-align: center;
}

#hidden-input{
  display: none;
}

#clear-btn{
    padding-right: 0;
}

#script-box{
    height: 560px;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
#k1-button-label{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
#k2-button-label{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
#k3-button-label{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
#k4-button-label{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
#k5-button-label{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
}
.panel-group{
    margin-bottom: 5px;
}


.panel-default > .panel-heading {
    color: #ffffff;
    padding: 6px 15px;
    font-family: 'Roboto', sans-serif;
}

.view-button {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.center-out{
  position:relative;
  height:90%;
  margin:auto;
}
.center-in {
position:absolute;
  height:30%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
    font-family: 'Roboto', sans-serif;
}
.center-in-in{

}

.main-out{
  position:relative;
  height:90%;
  margin:auto;
}
.main-in {
position:absolute;
  height:70%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
    font-family: 'Roboto', sans-serif;
}
.main-in-in{

}

.file-upload-out{
  position:relative;
  height:30%;
  margin-top: 10%;
    margin-left: auto;
  margin-bottom:auto;
    margin-right: auto;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.file-upload-in {
position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
    font-family: 'Roboto', sans-serif;
}

.center-in button a {
    color: #ffffff;
}

.page-header {
    background-color: #5c9aa7;
    border-color: #5c9aa7;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.page-header p, .page-header p a, .page-header p a:visited, .page-header p a:active {
    color: #ffffff;
    font-size: 22pt;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
}

.mid-menu, .mid-menu:hover, .mid-menu:visited {
    color: #FCA205;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}